# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ
*.iml
.idea/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android - ignore build ONLY
android/**/build/
android/.gradle/
android/local.properties
