spring:
  application:
    name: user-management
  
  datasource:
    url: jdbc:postgresql://postgres:5432/userdb
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  sql:
    init:
      mode: always

server:
  port: 8080

jwt:
  secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
  expiration: 86400000

logging:
  level:
    com.fpt.usermanagement: DEBUG
    org.springframework.security: DEBUG
